// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Colors 
$color-primary: #4682B4;
$color-primary-active: #2b506e;
$color-black: #3c3b3b;
$color-white: #f7f7f7;
$color-grey: #d2d2d2;