@use "../abstracts/variables" as var;

.blog-list {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.blog-preview {
    border: 2px solid var.$color-primary;
    padding: 2rem;
    transition: box-shadow 200ms ease-in-out;    
    &:hover {
        box-shadow: 0px 0px 8px var.$color-primary;
        cursor: pointer;
    }
    & h2 {
        transition: color 200ms ease-in-out;
    }
    &:hover h2 {
        color: var.$color-primary;
    }
}

.blog-preview-wrapper a {
    text-decoration: none;
}

.blog-preview p {
    color: var.$color-black;
}

.blog-details h2 {
    margin-bottom: 4px;
}

.blog-details p {
    line-height: 2rem;
}