// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

@use "../abstracts/variables" as var;

button:hover {
    cursor: pointer;
}

.btn-primary {
    background-color: var.$color-primary;
    color: var.$color-white;
    border: none;
    padding: 7px 12px;
    transition: background-color 200ms ease-in-out;
}

.btn-primary:hover {
    background-color: var.$color-primary-active;
}