.createForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.createForm input, .createForm textarea, .createForm select {
    padding: .5rem;
}

.createForm button {
    width: 10rem;
}