// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

@use "../abstracts/variables" as var;

.navbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 2px var.$color-grey;
}

.links {
    display: flex;
    gap: 1rem;
}

.links a {
    text-decoration: none;
    color: var.$color-black;
    transition: color 200ms ease-in-out;
    &:hover {
        color: var.$color-primary;
    }
}